@use "reset";
@use "media";
@use "./fonts/stylesheet";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

[class$="__container"] {
  max-width: 1270px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.main {
  flex: 1 1 auto;

  margin-top: 80px;
}

#app {
  height: 100%;
}
