@import '../../../../src/assets/style/variable.scss';

.mobile-nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  li {
    display: inline-block;
    a {
      color: $dark-black;
    }
  }
}

